<template name="layout_linto">

    <style>
    html,
    body {
        background: #EEE;
        font-family: 'RobotoDraft', sans-serif;
        margin: 0;
        outline: 0;
        overflow: hidden;
        padding: 0;
    }
    /* user-select */
    
    * /deep/ * {
        -webkit-touch-callout: none;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        -webkit-user-select: none;
    }
    /* menu-l */
    
    html /deep/ .menu-l {
        cursor: pointer;
        padding: 4px;
    }
    
    html /deep/ .menu-l:hover {
        background: #FAFAFA;
    }
    
    html /deep/ .menu-l-divider {
        padding: 8px;
    }
    
    html /deep/ .menu-l-icon-img {
        background: white;
        border-radius: 20px;
        height: 32px;
        margin: 4px;
        padding: 4px;
        width: 32px;
    }
    
    html /deep/ .menu-l-icon-text {
        border-radius: 20px;
        font-size: 1.25em;
        line-height: 32px;
        margin: 4px;
        padding: 4px;
        text-align: center;
        width: 32px;
    }
    
    html /deep/ .menu-l-description {
        padding: 4px;
    }
    
    html /deep/ .menu-l-description-capitalize {
        text-transform: capitalize;
    }
    
    html /deep/ .menu-l-description-small {
        font-size: .8em;
    }
    
    html /deep/ .menu-l-description-badge {
        background: white;
        border-radius: 8px;
        font-size: 10px;
        font-weight: bold;
        padding: 2px;
    }
    
    html /deep/ .disabled-text {
        color: #888;
    }
    </style>

    <core-drawer-panel forceNarrow id="drawer-panel">
        <style>
        core-header-panel[drawer] {
            background-color: #EEE;
            color: black;
        }
        </style>

        <core-header-panel drawer>
            <div class="menu-l-divider"></div>

            {{#if currentUser}}
            <user-menu core-drawer-toggle></user-menu>
            <div class="menu-l-divider"></div>
            {{/if}}

            <torrentz-menu core-drawer-toggle></torrentz-menu>
            <div class="menu-l-divider"></div>
        </core-header-panel>

        <core-header-panel condenses main>
            <core-toolbar class="_teal" id="main-toolbar">
                <paper-icon-button core-drawer-toggle icon="menu"></paper-icon-button>
                <div flex>Torrent Alert</div>
                <more-dropdown></more-dropdown>
            </core-toolbar>

            <core-animated-pages fit id="main-body" notap selected="{{initial_page}}" transitions="slide-from-right">
                <section class="page" tag="zero">
                    <div center-justified fit horizontal layout>
                        <div class="disabled-text" self-center>Empty ..</div>
                    </div>
                </section>
                <section class="page" tag="torrentz-list">
                    <torrentz-list tag="[]"></torrentz-list>
                </section>
            </core-animated-pages>
        </core-header-panel>
    </core-drawer-panel>

    <add-keyword></add-keyword>
    <download-linkz></download-linkz>

    <confirm-delete></confirm-delete>
    <confirm-exit></confirm-exit>

    <toast-handler></toast-handler>

</template>
